body {
    background-color: rgb(100, 100, 100);
}

/* This is the rect for the Haikus*/
.poemRect {
    background: rgba(0,0,0,0.8);
    width: 625px;
    height: 350px;
    margin:  0 auto;
    border-radius: 15%;
    display: grid;
    place-items: center;
}

/* This is for the text styles for the poems*/
#haiku {
    padding: 5vh 0;
    font-family: 'Zen Kurenaido', 'Ubuntu', Arial, Helvetica, sans-serif;
    color: azure;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
}