body {
    background-color: rgb(55, 60, 70);
}

/* This is the rectangle for the Haikus*/
.poemRect {
    background: rgba(0,0,0,0.7);
    width: 625px;
    height: 350px;
    margin:  0 auto;
    border-radius: 10%;
    display: grid;
    place-items: center;
}
/* This is the directions for user to interact with processing*/
#hint{
    font-family:  'Ubuntu', Arial, Helvetica, sans-serif;
    color: rgb(205, 175, 175);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}

/* This is for the text styles and padding for the poems*/
#haiku {
    padding: 1vh 0;
    font-family: 'Zen Kurenaido', 'Ubuntu', Arial, Helvetica, sans-serif;
    color: azure;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
}